* {
  padding: 0px;
  margin: 0px;
}

form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 70vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: space-between;
  background-color: antiquewhite;
}

label {
  font-weight: 900;
}

button {
  width: 10vw;
  margin-left: 40vw;
  background-color: aquamarine;
  border-radius: 2vh;
  font-weight: 900;
}

p {
  color: red;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.valid {
  border: 1px solid black;
}

.invalid {
  border: 1px solid red;
}
